<h5 class="text-center">Local</h5>

<div class="row text-center">
        <div class="card card-group col-md-12 px-3 mt-5 pt5 bg-light">
            <div class="card-body">
                <h5 class="card-title"><%= @food_store.name %></h5>
                <% if @food_store.photo %>
                    <p><%= image_tag @food_store.photo, class: "img-fluid rounded-circle" %></p>
                <% end %>
                    <% @food_store.photographics.each do |photo| %>
                        <% if photo != [] %>
                            <p><%= image_tag photo.variant(resize: "300x300"), class: "img-fluid rounded-circle" %></p>
                        <% end %>
                    <% end %>
            </div>
            <div class="container my-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Productos: <%= @food_store.products %></li>
                    <li class="list-group-item">Dirección: <%= @food_store.address %></li>
                    <% if @food_store.schedule %>
                        <li class="list-group-item">Apertura: <%= @food_store.schedule.strftime("%H:%M") %></li>
                    <% end %>
                    <% if @food_store.closing %>
                        <li class="list-group-item">Cierre: <%= @food_store.closing.strftime("%H:%M") %></li>
                    <% end %>
                </ul>
            </div>
        </div>
</div>

<div class="container text-center py-3">
    <%= link_to "volver", root_path, class: "btn btn-success" %>
</div> 