<h2>Edita tus datos</h2>

<%= form_with(model: @user, remote: true) do |f| %>
    <% if @user.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este marcador no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name, "Tu nombre" %>
        <%= f.text_field :name, class: 'form-group' %>
    </div>
    <div class="form-group">
        <%= f.label :email, 'Tu Correo' %>
        <%= f.text_field :email, class: 'form-group' %>
    </div>

    <div class="form-group">
        <%= f.label :images, "Tu Foto" %><br />
        <%= f.file_field :images, autofocus: true, class: 'form-group' %>
    </div>
    
    <div id="update-user-button" class = 'actions btn-succes my-3'>
        <%= f.submit "Actualizar usuario", class: 'btn btn-success' %>
    </div>

<% end %>
<br>


<h3>¿Eliminar mi cuenta?</h3>

<p><%= button_to "Eliminar mi cuenta", users_path, data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></p>

