<h1 class="text-center">Tu Perfil</h1>


<h2><%= current_user.name %></h2>
<% if current_user.images %>
    <div class="container ">
        <%= image_tag current_user.images.variant(resize: "300x300"), class: "img-fluid rounded-circle" %>
    </div> 
<br>
<% end %>

<div class="container text-center my-3">
    <%= link_to "Graficos", dashboards_path(current_user.id), class: "btn btn-primary p-3" %>
</div> 
<div id="edit-perfil-button my-5">
    <%= link_to "Edita tu perfil", edit_user_path(current_user), class: "btn btn-success my-3", remote: true  %>
</div>
<div id="edit-user-form"></div>
<br>
<%#= render 'dashboards/index' %>

<div id="post-show" class="my-3"></div> 
<div id="post-form" class="my-3"></div> 

<br>
<h1>Tus Publicaciones</h1>
<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <%= post.content %>
    <td><%= link_to 'Mostrar', post, remote: true, class: "btn btn-info" %></td>
<% end %>


