<p id="notice"><%= notice %></p>

<h1>Donaciones a través de Mach</h1>
<p>Si quieres ayudar a los creadores para nuevo contenido en el futuro. Puedes hacer tu aporte creando un codigo QR y añadiendo tus recomendaciones.</p>
<table>
  <thead>
    <tr>
      <th>Monto</th>
      <th>Titulo</th>
      <th>Mensaje</th>
      <th>Estado</th>
      <th>Codigo de pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.amount %></td>
        <td><%= donation.title %></td>
        <td><%= donation.message %></td>
        <td><%= donation.status %></td>
        <td><%= donation.code %></td>
        <td><%= link_to 'Mostrar', donation, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Realizar una nueva donacion', new_donation_path, class: "btn btn-success" %>
