<%= form_with(model: @post, remote: true) do |f| %>
    <% if @post.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Esta publicacion no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @post.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :title, "Titulo" %>
        <%= f.text_field :title, class: 'form-group' %>
    </div>

    <div class="form-group">
        <%= f.label :content, "Descripcion" %>
        <%= f.text_field :content, class: 'form-group' %>
    </div>

    <div class="form-group">
        <%= f.label :category_id, "Categoría" %>
        <%= f.collection_select :category_id, @categories, :id, :title, include_blank: true, class: 'form-group' %>
    </div>

    <div class="form-group">
        <%= f.label :food_store_id, "Local referenciado" %>
        <%= f.collection_select :food_store_id, @food_stores, :id, :name, include_blank: true, class: 'form-group' %>
    </div>
    
    <div id="create-button" class = 'actions'>
        <%= f.submit "Crear Publicación", class: 'btn btn-success' %>
    </div>
<% end %>
<br>