<div id="posts-form"></div>

<div id="posts-button">
    <%= link_to "Nueva Publicación", new_post_path, class: "btn btn-success", remote: true %>
</div> 

<div class="row">
    <% @posts.each do |p| %>
        <div class="card card-group col-md-4 px-3 mt-5 pt5 bg-light">
            <div class="card-body">
                <h5 class="card-title"><%= p.title %></h5>
                <p>te juro que es una foto</p>
                <% if current_user == 0 %>
                
                <div class="container ">
                    <%= image_tag p.food_store_id.to_, class: "img-fluid rounded-circle" %>
                </div> 
                <% end %>
                <p>rating: <%= rating_for p, 'rating' %></p>
            </div>
            <div class="container">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= p.user.name %></li>
                    <li class="list-group-item"><p class="card-text"><%= p.content %></p></li>
                </ul>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Category: <%= p.category.title %></a>
                <a href="#" class="card-link"><%= p.food_store.name %></a>
            </div>
        </div>
    <% end %>
</div>