<div id="posts-form"></div>

<div id="posts-button">
    <%= link_to "Nueva Publicación", new_post_path, class: "btn btn-success", remote: true %>
</div> 

<div class="row">
    <% @posts.each do |p| %>
        <div class="card card-group col-md-4 px-3 mt-5 pt5 bg-light">
            <div class="card-body">
                <h5 class="card-title"><%= p.title %></h5>
                <p>Dirección: <%= p.food_store.address %></p>
                <% p.food_store.photographics.each do |photo| %>
                    <% if photo != [] %>
                        <p><%= image_tag photo.variant(resize: "300x300"), class: "img-fluid rounded-circle" %></p>
                    <% end %>
                <% end %> 
                <p>rating: <%= rating_for p, 'rating' %></p>
            </div>
            <div class="container">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= p.user.name %></li>
                    <li class="list-group-item"><p class="card-text"><%= p.content %></p></li>
                </ul>
            </div>
            <div class="container my-3">
                <% if p.comments %>
                    <p>Comentarios</p>
                    <% p.comments.each do |comment| %>
                        <p class="list-group-item"><%= comment.user.name %>: <%= comment.content %></p>
                    <% end %> 
                <% end %> 
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Category: <%= p.category.title %></a>
                <a href="#" class="card-link"><%= p.food_store.name %></a>
            </div>
            <div id="comment-form-<%= p.id %>"></div>

            <div id="comment-button-<%= p.id %>">
                <%= link_to "Nueva Comentario", new_comment_path(post_id: p.id), class: "btn btn-primary", remote: true %>
            </div> 
        </div>
    <% end %>
</div>